*{
	margin: 0;
	padding: 0;
}
body{
	text-align: center;
}
#divbg{
	 width:100%;
	height: 100vh;
	/*border:1px solid red;*/
	background-image: url(images/背景.jpg);/*添加背景图片*/
	background-size: cover;
}
button{
	width: 80px;
	height: 40px;
	position: absolute;
	top: 70%;
	left: 45%;
	display: none;
}
