@charset "utf-8";
/* 大布局定位 */
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: auto;
	text-align: center;
}

/* 结果显示 */
#result {
    margin:30px auto 0;
	width: 200px;
    height: 50px;
    font-size: 40px;
    color: red;
    font-family: Courier, "Andale Mono", Arial, sans-serif;
}
/*分数控制*/
#score{
	height: 50px;
	width: 100px auto;
	text-align: center;
}

/*拼图容器*/
#picture {
	margin: 30px auto;
    position: relative;
    width: 350px;
    height: 355px;
    margin-bottom: 30px;
	text-align: center;
}

/*按钮容器*/
#btn{
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

/* 重新开始、更换图像、原图显示按钮 */
#restart, #change_image, #imshow{
    cursor: pointer;
    width: 120px;
    height: 40px;
    line-height: 40px;
    background-color: #4286F5;
    box-shadow: 3px 4px 15px black;
    color: white;
    font-size: 18px;
    opacity: 0.7;
	float: left;
	text-align: center;
}

/*设置左边距*/
#change_image,#imshow{
	margin-left: 100px;
}

/*设置重新开始、更换图像按钮鼠标经过效果*/
#restart:hover, #change_image:hover, #imshow:hover{
    opacity: 1;
    transform: scale(1.1);
}

#i0{
	position: absolute;
	top: 74%;
	left: 60%;
	visibility: hidden;/*隐藏显示*/
}
/* 更换图片路径 */
.picture_part0 {
    background: url(../Image/0.jpg) no-repeat;
}

.picture_part1 {
    background: url(../Image/1.jpg) no-repeat;
}

.picture_part2 {
    background: url(../Image/2.jpg) no-repeat;
}

.picture_part0, .picture_part1, .picture_part2 {
    transition-duration: 0.2s;
    position: absolute;
    border: solid 1px #969696;
    display: inline-block;
    width: 108px;
    height: 108px;
    margin-bottom: -4px;
    opacity: 0.9;
}

/* 确定图片分块位置，类名 position_x 代表了位置 */
.position_1, .position_2, .position_3 {
    top: 0px;
}

.position_4, .position_5, .position_6 {
    top: 110px;
}

.position_7, .position_8, .position_9 {
    top: 220px;
}

.position_1, .position_4, .position_7 {
    left: 0px;
}

.position_2, .position_5, .position_8 {
    left: 110px;
}

.position_3, .position_6, .position_9 {
    left: 220px;
}

/* 确定图片分块*/
#_position_1 {
    background-position: 0px 0px;
}

#_position_2 {
    background-position: -110px 0px;
}

#_position_3 {
    background-position: -219px 0px;
}

#_position_4 {
    background-position: 0px -109px;
}

#_position_5 {
    background-position: -110px -109px;
}

#_position_6 {
    background-position: -219px -109px;
}

#_position_7 {
    background-position: 0px -218px;
}

#_position_8 {
    background-position: -110px -218px;
}
/*右下角空白*/
#_position_9 {
	opacity: 0;
    background-position: -219px -218px;
	background-image: none;
}
